<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/consoles">
	<img src="/img/bang_soundeffect.svg" alt="Brand Image" height="40" width="50">
	</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
	 <li class="nav-item active">
        <a class="nav-link" href="/consoles">Consoles</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Brands
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/consoles/brand/sony">Sony</a>
          <a class="dropdown-item" href="/consoles/brand/microsoft">Microsoft</a>
          <a class="dropdown-item" href="/consoles/brand/nintendo">Nintendo</a>
        </div>
      </li>
		<% if(user) { %>
		 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Blogs/News
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://blog.playstation.com/?smcid=pdc%3Aen-us%3Acampaigns-2020-ps5-direct-pre-orders-faq%3Aprimary%2520nav%3Amsg-news%3Aps-blog">Sony</a>
          <a class="dropdown-item" href="https://www.xbox.com/en-US/community?xr=shellnav">Microsoft</a>
          <a class="dropdown-item" href="https://www.nintendo.com/whatsnew/">Nintendo</a>
        </div>
      </li>
		<% } %>
		
		<% if(user) { %>
		  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Buy Games
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://store.playstation.com/en-us/category/d71e8e6d-0940-4e03-bd02-404fc7d31a31/1">Playstation</a>
          <a class="dropdown-item" href="https://www.xbox.com/en-US/games/all-games?xr=shellnav#">Xbox</a>
          <a class="dropdown-item" href="https://www.nintendo.com/games/">Nintendo Switch</a>
        </div>
      </li>
		<% } %>
		
			<% if (user) { %>
			 <li class="nav-item">
			<a class="nav-link" href="/consoles/new">Add Console</a>
		  </li>
		<% } %>
	
		<% if(user){ %>
			 <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
		<% } else { %> 
		 <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
		 <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
		<% } %>	
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/consoles/search" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="term" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container mt-2">
	<% if(successMessage && successMessage.length > 0) { %>
	<div class="alert alert-success fade show" role="alert">
		<%= successMessage %>
		<button type="button" class="close" data-dismiss="alert" arial-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
<% } %>
<% if(errorMessage && errorMessage.length > 0) { %>
	<div class="alert alert-warning fade show" role="alert">
		<%= errorMessage %>
		<button type="button" class="close" data-dismiss="alert" arial-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
<% } %>
</div>
