
<div class="landing">
	<link href="/css/styles.css" rel="stylesheet">
	<h1>Console's Page!</h1>
	<form action="/consoles" method="POST">
	 <img src="https://i.pinimg.com/736x/27/a5/28/27a528af93dd814315d4f636ea5b9ae5.jpg" alt="consoles"> 
	<br><br>
	<h3>This Web Page is created for those who love gamers and like to share informations about them. Therefore, in this page everyone is allowed to create an account and add a console and more things like: Comments.<br>So, click on the button and go forward!</h3>
	<button type="submit">
		<a href="/consoles">BUTTON</a>
	</button>
	<br><br><br>
	<h2>Page Created by:<h3>Nicholas Magri</h3></h2>
	<br>
	<h4>Class: Cs-330</h4>
	<h4>Professor: Joshua Bastean</h4>
	</form>
</div>


